.container{
    /* background-color: blue; */
    width: 100%;
    height:80vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: var(--background-color);

}

.c-main{ 
    /* background-color:purple; */
    max-width: 1440px;
    width: 80%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 4em 0;
    color:#fff;
}

.c-info{
    width:50%;
    height:100%;
    padding-right: 1rem;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.c-info__title{
    font-size:3em;
}

.c-info__text{
    font-size:2em;
    font-weight: lighter;
    text-align: justify;
}

.c-info__button{
    margin-top:30%;
    font-size:2em;
    height: 8%;
    width:40%;
    padding: 0.2rem 1rem;
    border: 1px solid var(--secondary-color);
    border-radius:0.25em;
    color:#fff;
    background-color: var(--background-color);

}

.c-info__button:hover{
    background-color: #e0e0e0;
    color: var(--background-color);
}

.c-img{
    width:50%;
    height:100%;
}

.c-img__img{
    width:100%;
    height:100%
}

@media(max-width: 1366px){
    .c-info{
        padding-right: 2rem;
    }

    .c-info__title{
        font-size: 2.5em;
    }

    .c-info__text{
        font-size: 1.5em;
    }

    .c-info__button{
        margin-top: 10%;
        width:50%;
        height:12%;
    }
}

@media(max-width: 900px){
    .c-img{
        display: none;
    }

    .c-info{
        width:100%;
        align-items:center;
        justify-content:space-around;
        padding: 0;
    }
}

@media(max-width: 430px){
    .c-info__title{
        font-size: 2em;
    }

    .c-info__text{
        font-size: 1.5em;
    }

    .c-info__button{
        margin-top: 10%;
        width:60vw;
        height:12%;
    }
}
